<div class="details">
  <div class="back-btn"></div>
  <div class="img-details"></div>
  <div class="info-details">
    <h3 class="title-info">
      Kuji Podcast #20<span class="date-info">Thursday, May 20, 2019</span>
    </h3>

    <p class="descr-title">Description:</p>
    <p class="description">
      Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом
      Сабуровым обсуждают окончание 2018 года: бой Хабиба с МакГрегором,
      Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и
      подарки для близких.
    </p>
    <ul class="icons">
      <li class="item">
        <img src="../../../assets/viewed.svg" alt="view" />
        <span class="count">1000</span>
      </li>
      <li class="item">
        <img src="../../../assets/liked.svg" alt="like" />
        <span class="count">680</span>
      </li>
      <li class="item">
        <img src="../../../assets/dislike.svg" alt="dislike" />
        <span class="count">320</span>
      </li>
      <li class="item">
        <img src="../../../assets/copied.svg" alt="copy" />
        <span class="count">250</span>
      </li>
    </ul>
  </div>
</div>
