:host {
  width: 74%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sorting {
  margin-right: 11px;
  color: #929292;
}

.date-sort,
.count-sort {
  margin-right: 21px;
  color: #2f80ed;
  text-decoration: underline;
  cursor: pointer;
}
