.sorting {
  margin-right: 11px;
  color: #929292;
}

.date-sort,
.count-sort {
  margin-right: 21px;
  color: #2f80ed;
  text-decoration: underline;
  cursor: pointer;
}

label {
  color: #2f80ed;
}

input {
  margin-left: 10px;
}
