<div class="login">
  <p class="title-login">Login</p>
  <form #auth="ngForm" (ngSubmit)="onSubmit(auth)">
    <div class="inputs-login">
      <p class="title-input">login</p>
      <input ngModel maxlength="25" name="login" />
    </div>
    <div>
      <p class="title-input">password</p>
      <input ngModel type="password" maxlength="10" name="password" />
    </div>
    <div class="btn-container">
      <button type="button" class="transp-btn">Registration</button>
      <button type="submit" class="blue-btn">Login</button>
    </div>
  </form>
</div>
